/* ======================= ELEMENTO GENERALES ======================= */
/* ======= ELEMENTOS CON EL MISMO DISEÑO EN TODA LA APLICACION ====== */
.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}
/* ======================= ESTILOS DATAPICKER ======================= */
.datepicker.datepicker-dropdown.dropdown-menu {
    color: #6c757d;
}
.datepicker.datepicker-dropdown.dropdown-menu .datepicker-switch,
.datepicker.datepicker-dropdown.dropdown-menu th {
    font-weight: 500 !important;
}
.datepicker.datepicker-dropdown.dropdown-menu td.active,
.datepicker.datepicker-dropdown.dropdown-menu span.active {
    background: #17a2b8 !important;
}
.datepicker.datepicker-dropdown.dropdown-menu td.active:hover,
.datepicker.datepicker-dropdown.dropdown-menu span.active:hover {
    background: #138496 !important;
}
/* ===================== FIN ESTILOS DATAPICKER ===================== */


/* ======================= ESTILOS SWAL MODAL ======================= */
.swal-modal {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: .3rem;
}
.swal-icon {
    margin: 20px auto 10px !important;
}
.swal-title {
    padding: 5px !important;
    margin: 0px !important;
}
.swal-footer {
    padding: 15px 7px 7px !important;
    margin: 0px !important;
}
/* ===================== FIN ESTILOS SWAL MODAL ===================== */

/* ==================== ESTILOS ELEMENTOS NATIVOS =================== */
select {
    cursor: pointer;
}
.custom-file, .custom-file input.custom-file-input, .custom-file label.custom-file-label {
    height: calc(1.5em + .6rem + 2px);
    font-size: 13px;
}
.custom-file label::after {
    height: calc(1.5em + .6rem);
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 13px;
    content: 'Elegir';
}
.custom-file-label {
    overflow: hidden;
}
/* ================== FIN ESTILOS ELEMENTOS NATIVOS ================= */